@import "../../Common/necessary.module.scss";

.container{
    @include flexcenter(center,center,column);
    overflow: hidden;
    position: relative;
}
.heading{
    @include flexcenter(center,center,column);
    @include Font(Noto Sans, 2.5rem, bold, 3rem, $primarycolor);
    position: absolute;

}
.content{
    @include flexcenter(center,center,column);
    @include Font(Noto Sans, 1.3rem, bold, 1.7rem, #343434);
    position: absolute;
    bottom: 12rem;
}

@media(max-width: 576px){
    .container{
        @include flexcenter(flex-start,center,column);
    }
    .heading{
        @include Font(Noto Sans, 1rem, bold, 1.2rem, $primarycolor);
        top: 2.5rem;
    }
    .content{
        @include flexcenter(center,center,column);
        @include Font(Noto Sans, 0.5rem, bold, 0.7rem, #343434);
        bottom: 4rem;
    }
}