
@import "../../Common/necessary.module.scss";

.Container{
    @include flexcenter(center,center ,column );
    width:100%;
    background-color: $bgcolor;
    .heading{
        width: 80%;
        padding: 20px 0px;
        @include flexcenter(center,flex-start ,column );
        p{
            @include Font(Roboto,3.5rem ,bold ,4rem ,#000000 );
        }
    }
}


@media(max-width: 576px){
    .heading{
        p{
            @include Font(Roboto,1.8rem ,bold ,2rem ,#000000 );
        }
    }
}