@import '../necessary.module.scss';

.Container{
    @include flexcenter(center,center,column);
    width:100%;
    padding: 40px;
    background-color: #fafafa;
}
.Content{
    @include flexcenter(center,center,column);
     width:80%;
     background-color: rgb(241, 241, 241);
     border-radius: 20px; 
     padding:10px 0px;
}
.header{
    @include flexcenter(center,center,column);
    @include Font($primaryfont,3rem,bold,3.2rem,#000000);
    width:80%;
    margin: 20px;
}
.logoContainer{
    @include flexcenter(space-between,center,row);
     width:80%;
     flex-wrap: wrap;
}
.logo{
    width:15%;
    margin:20px 30px;
    @include flexcenter(center,center,row);
}
.footer{
    @include flexcenter(center,center,column);
    @include Font($secondaryfont,1rem,300,2.2rem,#000000);
    width:80%;
    margin: 10px;
}
