@import "../../Common/necessary.module.scss";

.container{
    width:100%;
    @include flexcenter(center,center,column);
    background-color: #fafafa;
    padding-top:4rem;
}
.heading{
    width:100%;
    @include flexcenter(center,center,column);
    @include Font(Roboto, 3rem , bold ,3.2rem , $primarycolor );
    position: absolute;
    top:10px;
}
.container2{
    width:100%;
    @include flexcenter(center,center,column);
    overflow: hidden;
    position: relative;
}
.card{
    width:35%;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 20px rgba(181, 181, 181, 0.5);
    border-radius: 20px;
    padding:20px;
    position: absolute;
    @include flexcenter(center,flex-start,column);
}
.Img{
    width:20%;
    margin:20px 30px;
}
.name{
    @include flexcenter(center,flex-start,column);
    width:100%;
    @include Font(Noto Sans, 1rem , bold ,1.2rem , #000000 );
    margin-left:30px;
}
.content{
    @include Font(Noto Sans, 0.9rem , 400 ,1.2rem , #424242 );
    width:90%;
    margin:10px 30px;
}
.controller{
    @include flexcenter(flex-start,flex-start,row); 
    width:100%;
    position: absolute;
    bottom:7rem;
    left:4rem;
}
.controllerLeft,.controllerRight{
    width:5%;
    margin-left:30px;
    &:hover{
        width:5.2%;
        cursor: pointer;
    }
}

@media(max-width: 576px){
    .heading{
        @include Font(Roboto, 2.5rem , bold ,2.7rem , $primarycolor );
        position: static;
        margin-top: 1rem;
    }
    .container2{
        position: static;
        .mob{
            display: none;
        }
    }
    .card{
        width:80%;
        position: static;
        padding:2rem;
        margin: 2rem 0rem;
    }
    .Img{
        width:20%;
        margin:10px 15px;
    }
    .name{
        @include flexcenter(center,flex-start,column);
        width:90%;
        @include Font(Noto Sans, 1rem , bold ,1.2rem , #000000 );
        margin-left:15px;
    }
    .content{
        @include Font(Noto Sans, 0.6rem , 400 ,0.8rem , #424242 );
        width:100%;
        margin:10px 15px;
    }
    .controller{
        @include flexcenter(center,center,row); 
        width:100%;
        position: static;
        margin-bottom: 20px;
    }
    .controllerLeft,.controllerRight{
        width:10%;
        margin-left:20px;
        &:hover{
            width:10.2%;
            cursor: pointer;
        }
    }
}