@import "../necessary.module.scss";

.container{
    @include flexcenter(center,center,column);
    width:100%;
    background: #fafafa;
}
.header{
    @include flexcenter(center,flex-start,column);
    @include Font($primaryfont,3rem,bold,3.2rem,#000000);
    width:80%;
    margin: 20px;
}
.cardContainer{
    @include flexcenter(space-between,center,row);
    width:80%;
    padding:20px 0px;
}
.card{
    @include flexcenter(center,flex-start,column);
    width:30%;

}
.name{
    @include flexcenter(center,flex-start,column);
    width:100%;
    margin-top: 10px;
    @include Font($primaryfont,1.5rem,bold,1.7rem, $primarycolor);
}
.containt{
    @include flexcenter(center,flex-start,column);
    margin-top: 10px;
    height:30%;
    @include Font($primaryfont,0.9rem,400 ,1.2rem , #525151);
}
.social{
    @include flexcenter(flex-start,center,row);
    margin: 20px 0px; 
    width:100%;
    .child1{
        width:10%;
        @include flexcenter(center,center,'');
        overflow: hidden;
    }
    .child2{
        p{
            @include Font($primaryfont,1rem,bold,1.2rem, #000000);
            width:100%;
            margin-left: 20px;
        }
        p:hover{
            border-bottom: solid 3px #2E368F;
        }
    }
}

.buttonContainer{
    @include flexcenter(center,center,row);
    width:80%;
    .button{
        @include button2;
        height:40px;
        width:20%;
        font-size: 1rem;
    }
    margin-bottom:3rem;
}