.navbar{
    display: flex;
    position: fixed;
    z-index:100;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #fafafa;
    //backdrop-filter: blur(10px);
    // box-shadow: 0px 4px 20px rgba(181, 181, 181, 0.5);
    height:90px;
    width: 100%; 
    padding: 10px 32px;
    .logo {
        height:80%;
        display: block;
    }  
    .logoWhite{
        display: none;
    }
    .menu{
        display: none;
    } 
}
.link{
    display: block;
    margin-left: 7%;
    text-decoration: none;
    color:#484848;
    font-size: 20px;
    font-family: "Noto Sans";
    font-weight: bold; 
}
.link:hover{
    border-bottom: solid 4px #2E368F;
}
.space{
    width:30%;
}
.button2{
    height:60%;
    width:150px;
    border:none;
    border-radius: 4px;
    text-decoration: none;
    background:#2E368F;
    color:#fafafa;
    font-family: Noto Sans;
    font-weight: bold;
    &:focus{
        outline: none;
    }
    &:hover{
        width:10rem;
        height: 3rem;
        cursor: pointer;
    }
}

@media(max-width: 576px){
    .link{
        display: none;
    }
    .navbar{
        background-color: #2E368F;
        .logo {
            display: none;
        }  
        .logoWhite{
            display: block;
            height: 70%;
        }
        .menu{
            height: 30%;
            margin-left: 60%;
            display: block;
        }  
    }   
    .space{
        display: none;
    }
    .button2{
        display: none;
    }
}