.navbar{
    display: flex;
    position: fixed;
    z-index:100;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:100px;
    width: 100%; 
    padding: 10px 32px;
    .logo {
        height:80%;
        display: block;
    }  
    .logoWhite{
        display: none;
    }
    .menu{
        height: 50%;
        margin-left: 50%;
    } 
}
.link{
    display: block;
    margin-left: 7%;
    text-decoration: none;
    color:#484848;
    font-size: 20px;
    font-family: "Noto Sans";
    font-weight: bold; 
}
.link:hover{
    border-bottom: solid 4px #2E368F;
}


@media(max-width: 576px){
    .link{
        display: none;
    }
    .navbar{
        background-color: #2E368F;
        .logo {
            display: none;
        }  
        .logoWhite{
            display: block;
            height: 70%;
        }
        .menu{
            height: 30%;
            margin-left: 60%;
        }  
    }   
}