@import '../../Common/necessary.module.scss';

.container{
    @include flexcenter(center,center,column);
    width:100%;
    background-color: #fafafa;
    padding:20px;
}
.heading{
    @include flexcenter(center,flex-start,column);
    width:80%;
    @include Font($primaryfont,3rem,bold,3.2rem, #000000);
    padding:10px;
    margin-bottom: 20px;
}
.subcontainer{
    @include flexcenter(space-around,flex-start,row);
    width:100%;
    background-color: #fafafa;
    padding:20px;
}
.child1,.child3{
    width:40%;
    padding:10px; 
}
.child1{
    @include flexcenter(center,flex-end,column); 
}
.child3{
    @include flexcenter(center,flex-start,column);
    
}
.child2{
    width:3px;
    background-color: $primarycolor;
    height:80vh;
    padding:10px 0px; 
}
.box{
    width:80%;
    height:20vh;
    @include flexcenter(space-between,center,row);
    box-shadow: 0px 4px 25px #C5CFFD;
    border-radius: 15px;
    margin-bottom: 10rem;
}
.name{
    width:60%;
    @include flexcenter(center,center,column);
    .title{
        width:80%;
        @include Font($secondaryfont,1.2rem,bold,1.4, $primarycolor);
        text-align: center;
    }
    .company{
        width:80%;
        @include Font($secondaryfont,1.2rem,bold,1.4, #484848);
        text-align: center;
    }
    
}
.empty{
    height: 20vh;
}
.box1{
    width:80%;
    height:20vh;
    @include flexcenter(space-between,center,row);
    box-shadow: 0px 4px 25px #C5CFFD;
    border-radius: 15px;
    margin-bottom: 1rem;
}


@media(max-width: 576px){
    .heading{
        @include flexcenter(center,center,column);
        width:90%;
        @include Font($primaryfont,1.8rem,bold,2rem, $primarycolor);
    }
    .subcontainer{
        padding:10px;
    }
    .child1,.child3{
        width:50%;
        padding:10px; 
    }
    .child1{
        @include flexcenter(center,flex-end,column); 
    }
    .child3{
        @include flexcenter(center,flex-start,column);
        
    }
    .child2{
        width:3px;
        background-color: $primarycolor;
        height:85vh;
        padding:10px 0px; 
    }
    .box{
        width:100%;
        @include flexcenter(center,center,column);
        box-shadow: none;
        border-radius: 15px;
        margin-bottom: 10rem;
    }
    .box1{
        width:100%;
        @include flexcenter(center,center,column);
        box-shadow:none;
        border-radius: 15px;
        margin-bottom: 1rem;
    }
    .name{
        width:100%;
        @include flexcenter(center,center,column);
        .title{
            width:100%;
            @include Font($secondaryfont,1.2rem,bold,1.4, $primarycolor);
            text-align: center;
        }
        .company{
            width:100%;
            @include Font($secondaryfont,1.2rem,bold,1.4, #484848);
            text-align: center;
        }
    }
    .logo{
        width:70%;
        @include flexcenter(center,center,column);
    }
}