@import"../../../Common/necessary.module.scss";

.SubContainer{
    @include flexcenter(space-between,center,row);
    width:90%; 
    background-color: #D6D0FF;
    height: 4rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    @include Font($secondaryfont, 1rem ,400 ,1.2rem ,#343434 );
    padding: 0rem 2rem;
}

.Content{
    @include flexcenter(center,center,column);
    width:90%; 
    background-color:#fafafa;
    padding:0rem 1rem;
        max-height: 0px;
        overflow: hidden;
    border: 0px solid #D6D0FF;
    border-radius: 10px;
    margin-top: 5px;
    @include Font($secondaryfont, 1rem ,400 ,1.2rem ,#343434 );
        transition: all 0.5s;
}

.ActiveContent{
        max-height: auto;
    border: 2px solid #D6D0FF;
    padding:3rem;
   @extend .Content;
}

.normal{
    transition: 0.3s ;
    transform: rotate(0deg)
}

.active{
    transition: 0.3s ;
    transform: rotate(45deg)
    
}

@media(max-width: 576px){
    .SubContainer{
       width:100%;
       @include Font($secondaryfont, 0.9rem ,400 ,1.1rem ,#343434 );
    }

    .Content{
        width:100%; 
        @include Font($secondaryfont, 0.9rem ,400 ,1.2rem ,#343434 );
    }
    
    .ActiveContent{
       padding: 6rem 2rem;
    }
    
}