@mixin flexcenter( $justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction ;
}
@mixin Font($fontfamily, $fontsize, $fontweight, $lineheight, $color){
    font-family: $fontfamily;
    font-weight: $fontweight;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $color;
}
.Container{
    @include flexcenter(center,center ,column );
    width:100%;
    background-color: #fafafa;
    .heading{
        width: 80%;
        padding: 20px 0px 20px 0px;
        @include flexcenter(center,flex-start ,column );
        p{
            @include Font(Roboto,3.5rem ,bold ,4rem ,#000000 );
        }
    }
}