
@import '../necessary.module.scss';

.Container{
    @include flexcenter(center,center ,column );
    width:100%;
    background-color: $bgcolor;
    padding: 30px 0px;
    .Heading{
        @include flexcenter(center,center,column);
        @include Font(Roboto, 2.5rem, 700, 2.7rem, #000000);
    }
}

.card{
    width:80%;
    @include flexcenter(space-around,center ,row);
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 10px 20px;
}
.child2{
    width:40%;
    @include flexcenter(center,center,column);
    background-color: $primarycolor;
    margin: 2rem 0rem;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(181, 181, 181, 0.5);
}

.subheader{
    width:100%;
    @include flexcenter(center,flex-start,column);
    @include Font(Noto Sans, 1rem, bold, 1.2rem,$bgcolor);
}

.content{
   @extend .subheader;
   @include Font(Noto Sans, 0.7rem, 400, 0.9rem, $bgcolor);
   margin: 10px 0px;
}

.line{
    width: 100%;
    height:2px;
    background-color: $bgcolor;
    margin: 0.7rem 0rem;
}

.comment{
    width:100%;
    @include flexcenter(space-around,center,row);
    @include Font(Noto Sans, 1rem, bold, 1rem, $bgcolor);
    
}
.button2{
    @include button2();
    height:2.5rem;
    width:9rem;
    background:$bgcolor;
    color:$primarycolor;
}

.child1{
    @extend .child2;

        background-color: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(181, 181, 181, 0.5);

    .subheader{
        color: $primarycolor;
    }
    
    .content{
      color: $primarycolor;
    }
    
    .line{
        background-color: $primarycolor;
    }
    
    .comment{
       color: $primarycolor;
    }
    .button2{
        @include button2();
        height:2.5rem;
        width:9rem;
    }

}


@media(max-width: 576px){
    .card{
        flex-direction: column;
    }
    .child2{
        width:100%;
    }
}