@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin Font($fontfamily, $fontsize, $fontweight, $lineheight, $color){
    font-family: $fontfamily;
    font-weight: $fontweight;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $color;
}

.Container{
    width: 100%;
    @include flexCenter(column);
    background-color: #F4F9FE;
    padding:3rem;
}

.Heading{
    width: 100%;
    @include flexCenter(column);
    @include Font(Noto Sans, 3rem , bold ,3.5rem , #000000 );
}
.Child1{
    @include flexCenter(row);
    justify-content: space-around;
    width:100%;
    flex-wrap: wrap;
}

.Program{
    width:45%;
    padding:3rem 0 1rem 0;
    @include flexCenter(row);
    .Img{
        height: 100%;
        width:30%;
        overflow: hidden;
    }
    .Text{
        width:50%;
        height: 100%;
        margin-left: 20px;
        @include flexCenter(column);
        justify-content: flex-start;
    }
    .Subheading{
        width:100%;
        @include flexCenter(column);
        justify-content: flex-start;
        align-items: flex-start;
        @include Font(Noto Sans, 1rem , bold ,1.2rem , #2E388E  )
    }
    .Content{
        width:100%;
        @include flexCenter(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 1.2rem;
        @include Font(Noto Sans, 0.8rem , 300 ,1rem , #000000  )
    }
}

@media(max-width: 576px){
    .Container{
        padding:2rem;
    }
    .Heading{
        @include Font(Noto Sans, 1.5rem , bold ,1.7rem , #000000 );
    }
    .Child1{
        @include flexCenter(column);
    }
    .Program{
        width:90%;
        padding:2rem 0 1rem 0;
        .Img{
            height: 100%;
            width:40%;
            overflow: hidden;
        }
        .Subheading{
            @include Font(Noto Sans, 0.8rem , bold ,1rem , #2E388E  )
        }
        .Content{
            margin-top: 0.7rem;
            @include Font(Noto Sans, 0.6rem , 300 ,0.8rem , #000000  )
        }
    }
}