//-------------------------
//-------------FUNCTION----
//-------------------------

@mixin flexcenter( $justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction ;
}
@mixin Font($fontfamily, $fontsize, $fontweight, $lineheight, $color){
    font-family: $fontfamily;
    font-weight: $fontweight;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $color;
}
//-------------------------
//-------COLORS & FONTS------
//-------------------------
$bgcolor: #fafafa;
$primarycolor: #2E368F;
$primarycolorhover: #1f2561;
$primaryfont: 'Roboto';
$secondaryfont: 'Noto Sans';

//-------------------------
//----------BUTTON PRIMARY-#2E368F
//-------------------------

@mixin button2{
    height:40%;
    width:40%;
    border:none;
    border-radius: 4px;
    text-decoration: none;
    background:#2E368F;
    color:#fafafa;
    font-family: Noto Sans;
    font-weight: bold;
}