@import '../necessary.module.scss';

.Container{
    @include flexcenter(center,center ,column );
    width:100%;
    background-color: $bgcolor;
    padding: 30px 0px;
    .Heading{
        @include flexcenter(center,center,column);
        @include Font(Roboto, 2.5rem, 700, 2.7rem, #000000);
        padding: 1.5rem;
    }
}

.card{
    width:70%;
    @include flexcenter(center,center ,row);
    background-color: #FEFEFE;
    box-shadow: 0px 4px 20px rgba(181, 181, 181, 0.5);
    border-radius: 20px;
    margin-top: 2rem;
    padding: 10px 20px;
}
.child1{
    width:35%;
    @include flexcenter(center,center,'');
    overflow: hidden;
    margin: 20px;
}
.child2{
    width:50%;
    @include flexcenter(center,flex-start,column);
    margin:20px;
    padding: 10px 15px;
}

.subheader{
    width:100%;
    @include flexcenter(center,flex-start,column);
    @include Font(Noto Sans, 1.2rem, bold, 1.5rem, $primarycolor);
    margin-bottom: 0.5rem; 
}

.content{
   @extend .subheader;
   @include Font(Noto Sans, 0.8rem, 400, 1rem, $primarycolor);
   margin: 10px 0px;
}

.line{
    width: 100%;
    height:2px;
    background-color: $primarycolor;
    margin: 1rem 0rem;
}

.comment{
    width:100%;
    @include flexcenter(space-around,flex-start,column);
    @include Font(Noto Sans, 1rem, bold, 1rem, $primarycolor);
    p{
        margin-bottom: 20px;
    }
}

.button2{
    @include button2();
    height:2.5rem;
    width:9rem;
}

@media(max-width: 576px){
    .Container{
        padding: 20px;
        margin-bottom: 20px;
    }
    .card{
        flex-direction: column;
        width:90%;
        padding: 10px;
        border-radius: 12px;
    }
    .child1{
        width:100%;
    }
    .child2{
        width:100%;
    }
    .comment{
        flex-direction: column;
        align-items: flex-start;
    }
    .button2{
        margin-top: 20px;
    }

}