@import "../../Common/necessary.module.scss";

.Container{
    @include flexcenter(center,center,column);
    width:100%;
    padding: 10px 20px;
    background: #f6f6f6;
}
.header{
    @include flexcenter(center,flex-start,column);
    width:80%;
    @include Font($primaryfont,3rem,bold,3.5,#000000);
}

.Container1{
    @include flexcenter(center,center,row);
    width:100%;
}

.Container2{
    @include flexcenter(center,center,column);
    width:20%;
    margin-bottom: 30px;
    .Image{
        margin-bottom: 10px;
    }
    .number{
        margin-bottom: 10px;
        @include Font($secondaryfont,2rem,700,1.5,#343434);
    }
    .containt{
        margin-bottom: 10px;
        @include Font($secondaryfont,1.3rem,700,1.5,#656565);
    }
}


@media(max-width: 576px){
    .header{
        @include flexcenter(center,center,column);
        @include Font($primaryfont,1.8rem,bold,1.7,#000000);
        margin: 10px 0px;
    }
    .Container1{
        @include flexcenter(center,center,row);
        width:100%;
        flex-wrap: wrap;
    }
    .Container2{
        @include flexcenter(center,center,column);
        width:40%;
        margin: 20px 12px;
        padding-top:20px;
        background: #FEFEFE;
        box-shadow: 0px 4px 20px rgba(181, 181, 181, 0.5);
        border-radius: 10px;
        .Image{
            margin-bottom: 8px;
            width:40%;
        }
        .number{
            margin-bottom: 8px;
            @include Font($secondaryfont,1.2rem,700,1.5,#343434);
        }
        .containt{
            margin-bottom: 10px;
            width:80%;
            @include Font($secondaryfont,0.6rem,700,1.3,#656565);
            @include flexcenter(center,center,column);
            text-align: center;
        }
    }
    
}

