@import'../../components/Common/necessary.module.scss';



.background{
    @include flexcenter(center,flex-start,column);
    width:100%;
    overflow: hidden;
    position: relative;
}
.heading{
    @include flexcenter(center,flex-start,column);
    width:80%;
    position: absolute;
    padding:7rem 0rem 2rem 3rem;
    @include Font($primaryfont,4rem,600,4.2rem,#ffffff);
}
.subHeading{
    @include flexcenter(center,flex-start,column);
    width:70%;
    padding-top:3rem;
    @include Font($primaryfont,1.4rem,500,1.7rem,#CFC9FC);
}
.MoBbackground{
    display:none;
}

.container2{
    @include flexcenter(center,center,column);
    width:100%;
    padding: 0px;
    background-color: #fafafa;
}

.cardContainer{
    @include flexcenter(space-between,center,row);
     width:80%;
     flex-wrap: wrap;
     margin: 3rem 0rem;
}

.card{
    @include flexcenter(center,center,column);
    width:28%;
    height: 400px;
    background-color: #E2E6FA;
    margin-top: 3rem;
    margin-right: 3rem;
    border-radius: 10px;
    border-bottom: 5px solid #2E388E;
}

.image{
    width:85%;
}

.name{
    @include flexcenter(center,flex-start,column);
    @include Font($primaryfont,1.5rem,600,1.5rem,$primarycolor);
    width:80%;
    margin-top: 20px;
}

.post{
    @include flexcenter(center,flex-start,column);
    @include Font($primaryfont,1rem,400,1.2rem,#343434);
    width:80%;
    margin-top: 20px;  
}

.social{
    @include flexcenter(center,center,column);
    background-color: #93A0DF;
    border-radius: 50px;
    @include Font($primaryfont,1rem,400,1.2rem,$primarycolor);
    width:50%;
    margin-top: 20px;  
    padding:0.5rem; 
}

@media(max-width: 576px){
    
    .MoBbackground{
        display:block;
        @include flexcenter(center,center,column);
        width:100%;
        overflow: hidden;
        position: relative;
    }

    .background{
        display: none;
    }
    .heading{
        @include flexcenter(center,flex-start,column);
        width:80%;
        position: absolute;
        padding:7rem 0rem 2rem 3rem;
        @include Font($primaryfont,4rem,600,4.2rem,#ffffff);
    }
    .subHeading{
        @include flexcenter(center,flex-start,column);
        width:70%;
        padding-top:3rem;
        @include Font($primaryfont,1.4rem,500,1.7rem,#CFC9FC);
    }
    .cardContainer{
        @include flexcenter(center,center,column);
         flex-wrap: wrap;
         margin: 0rem;
         margin: 3rem 0rem;
    }

    .card{
        @include flexcenter(center,center,column);
        width:90%;
        height: auto;
        margin-right: 0rem;
        padding:2rem 0rem;
       
    }
    .image{
        width:75%;
    }
    
    .name{
        @include Font($primaryfont,1rem,bold,1.2rem,$primarycolor);
        width:80%;
        margin-top: 20px;
    }
    
    .post{
        margin: 10px 0px;  
    }
    
    .social{
        margin-top: 10px;  
    }
    
    
}